.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.mm-wrap {
    position: relative;
}

.mm-wrap .mm-actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity .05s;
}

.mm-wrap:hover .mm-actions{
	opacity: 1;
}

.card-image .mm-wrap .mm-actions a{
    height: 50px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 100%;
}

.card-image .mm-wrap .mm-actions i.material-icons {
    color: #ffffff;
    font-size: 50px;
    margin: 0;
}