.cke_dialog_ui_input_select select {
	display: block !important;
}

.modal .modal-footer {
	border-top: solid 1px #eee;
}

.modal .modal-footer .btn#cpop-btn-close{
	float: none;
}

.card.hoverables.ui-state-hover,.grid-element.folder.ui-state-hover>.card {
	background: #179bdd !important;
	color: white;
}

.card.hoverables.active,.grid-element.folder.active>.card {
	background: #179bdd !important;
	color: white;
}

#media-list > .folders{
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: solid 1px #eee;

}


.library .column-wrapper .file-container .row .grid-element.file .card, .library .column-wrapper .folder-container .row .grid-element.file .card{
	margin: 3px;
}

.library .column-wrapper .file-container .row .grid-element.folder .card, .library .column-wrapper .folder-container .row .grid-element.folder .card{
	margin: 5px;
}












/* disabled, they break factuur "popup" and other wise the editor source popup */
.cke_dialog_background_cover{
	/* z-index: 100000050 !important; */
}

.cke_2 .cke_dialog{
	/* z-index: 100000051 !important; */
}

.btn-bar{
	/* z-index: 100000000 !important; */
}


#cpop-modal .card {
	box-shadow: none;
}

#cpop-modal .card-content {
	padding: 0;
}


.side-nav .logobox .buttons li.multisite-dropdown > span,
.side-nav .logobox .buttons li.multisite-dropdown a.dropdown-button span,
.side-nav .logobox .buttons li.multisite-dropdown ul#siteselect li a{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.side-nav .logobox .buttons li.multisite-dropdown > span{
	max-width: 100%;
}

.side-nav .logobox .buttons li.multisite-dropdown a.dropdown-button span{
	width: 75%;
	display: inline-block;
}

.material-tooltip{
	/* z-index: 20000000000; */
}
#ui-datepicker-div {
  z-index: 65 !important;
}

#ui-datepicker-div .ui-datepicker-buttonpane button {
  margin: 0 0 0 10px;
}
