#admin-sidebar{
    background-color: #222;
    bottom: 0;
    box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
    color: #EEE;
    font: 11px Arial, sans-serif;
    left: 0;
    margin: 0;
    padding: 0 0 0 0;
    position: fixed;
    right: 0;
    text-align: left;
    text-transform: none;
    z-index: 99999;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    height: 36px;
}

#admin-sidebar .admin-logo{
	display: none;
}

#admin-sidebar ul{
	margin: 0;
	list-style-type: none;
	padding: 0;
}

#admin-sidebar > ul > li{
	float: left;
	/*margin-left: 20px;*/
	min-height: 36px;
	line-height: 36px;
}

#admin-sidebar > ul > li > a{
    display: block;
    cursor: pointer;
    padding: 0 15px;
}

#admin-sidebar > ul > li > a i{
	line-height: 36px;
    font-size: 20px;
    color: #999;
    margin-right: 5px;
}

#admin-sidebar a{
	color: #EEE;
}

#admin-sidebar ul li ul{
	position: absolute;
	bottom: 36px;
    background-color: #222;
    box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
    z-index: 99999;
    min-width: 225px;
    border-radius: 3px 3px 0 0;
    display: none;
}

#admin-sidebar ul li:hover ul{
	display: block;
}

#admin-sidebar ul li ul li{

}

#admin-sidebar ul li ul li a{
    display: block;
    padding: 0 15px;
}

#admin-sidebar ul li ul li a:hover{
    background: rgba(255,255,255,0.1);
}

#admin-sidebar ul li ul li a > span{
	color: rgba(255,255,255,0.5);
	float: right;
    margin-left: 20px;
}

/*#admin-sidebar{
	position: fixed;
	top: 0;
	left: -235px;
	bottom: 0;
	width: 240px;
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
	background: rgba(50,50,50,0.95);
	color: white;
	z-index: 1000;
	transition: left 0.2s ease;
}

#admin-sidebar:hover{
	left: 0;
}

#admin-sidebar .admin-logo{
	height: 64px;
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.3);
}

#admin-sidebar .pull{
	position: absolute;
    top: 50%;
    margin-top: -30px;
    height: 60px;
    line-height: 56px;
    right: -25px;
    width: 25px;
    background: red;
    border-radius: 0 10px 10px 0;
    color: white;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    background: rgba(50,50,50,0.9);
}

#admin-sidebar ul,
#admin-sidebar li{
	margin: 0;
	padding: 0;
}

#admin-sidebar ul li a{
	margin: 13px 15px;
	padding: 7px 10px;
	border: solid 2px transparent;
	border-radius: 5px;
	display: block;
	color: white;
	transition: border-color 0.1s ease;
}

#admin-sidebar ul li a:hover{
	border-color: white;
}

#admin-sidebar ul li span.value{
	float: right;
}*/

#fe-buttons button{
    background: #e41b85;
    border: none;
    border-radius: 3px;
    height: 28px;
    line-height: 26px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-right: 5px;
    padding: 0 20px;
    cursor: pointer;

}

#fe-buttons button#fe-restore {
    background: #797979;
}

.sortable-placeholder{
    border: dashed 3px rgba(0,0,0,0.4);
    border-radius: 5px;
}

[contenteditable="true"]{
    outline: none;
}

[contenteditable="true"]:hover{
    /*background: rgba(0,0,0,0.1);*/
    /*border-radius: 5px;*/
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
    /*background: rgba(0,0,0,0.2);*/
}