header:before{
	background-color: #179bde;
}

header{
}

#swagger-ui.api-platform .info .title{
	color: #fff;
}

#swagger-ui.api-platform .opblock.opblock-get .opblock-summary-method{
	background-color: #179bde;
}

.swagger-ui .btn.authorize{
	color: #179bde;
	border-color: #179bde;
}

.swagger-ui .btn.authorize svg{
	fill: #179bde;
}

#swagger-ui.api-platform .btn.authorize:hover,
#swagger-ui.api-platform .opblock-section-header,
#swagger-ui.api-platform .opblock.opblock-get .opblock-section-header{
	background: rgba(23, 155, 222, 0.1);
}

header #logo img,
.swagger-ui .info .base-url{
	display: none;
}

header div {
    position: fixed;
    top: 35px;
    right: 40px;
    height: 100px;
    z-index: 102;
    transform: translateY(-50%);
    width: 190px;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


#swagger-ui.api-platform .info{
	position: fixed;
    top: 4px;
    z-index: 162;
    color: white;
}

.swagger-ui .info hgroup.main {
    margin: 0 0 0px;
}

.swagger-ui .info .title small{
	background-color: white;
}

.swagger-ui .info .title small pre {
    color: #179bde;
    font-weight: bold;
    font-size: 11px;
}