{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block pagetitle %}{{'Media history'|trans}}{% endblock %}

{% block body %}
	<div class="page-content">
		<div class="panel">
			{{ 'History' | trans }}
		</div>
	</div>
{% endblock %}