<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="refresh" content="0;url={{ uri }}" />
    </head>
    <body>
    	{{'Je bent succesvol ingelogd, je wordt doorgestuurd.'|trans}}
        {# You are about to be redirected to {{ uri }} #}
    </body>
</html>