<section>
	<div class="container">
		<div class="login-form" style="max-width: 500px; margin: 0 auto;">
			<form method="post">
				<div class="card">
					<div class="card-body">

						{% if error is defined and error is not empty %}
						    <div class="alert error rounded" style="color: red;">{{ error|raw }}</div>
						{% endif %}

						<div class="form-group">
							<label for="_password">{{'Wachtwoord'|trans}}</label>
							<input autocomplete="off" type="password"  class="form-control" id="_password" name="_password">
						</div>

						<button type="submit" name="login" class="btn btn-primary"><i class="fa fa-lock"></i> {{'Inloggen'|trans}}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>