{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block body %}
	<div class="page-content">
		<h1>{{'misc.permissions' | trans}}</h1>
		{{ 'De onderstaande rechten zijn toegewezen op deze pagina:' | trans }}

		<table>
			{#  #}
		</table>
	</div>
{% endblock %}
