$black: #000;
$dark: #2b333e;
$dark2: #202124;
$light: #fff;
$gray: #f1f3f8;
$gray2: #ddd;
$gray3: #edeef1;
$darkgray: #888;
$blue: #11a2f4;
$green: #33bf39;
$red: #dd2525;
$support: #dae6f2;
$yellow: #e7ea15;

$shadow: 0 1px 3px rgba(0,0,0,0.1);
$shadow2: 0 1px 3px rgba(0,0,0,0.25);
$shadow-lg: 0 5px 30px rgba(0,0,0,0.05);
$shadow-lg2: 0 20px 30px rgba(0,0,0,0.05);
$shadow-up: 0 -1px 3px rgba(0,0,0,0.1);

$break-xxl-up: "(min-width : 1400px)";
$break-xxl: "(max-width : 1399px)";
$break-xl-up: "(min-width : 1200px)";
$break-xl: "(max-width : 1199px)";
$break-lg-up: "(min-width : 992px)";
$break-lg: "(max-width : 991px)";
$break-md-up: "(min-width : 600px)";
$break-md: "(max-width : 599px)";
$break-sm-up: "(min-width : 576px)";
$break-sm: "(max-width : 575px)";
$break-xs-up: "(min-width : 370px)";
$break-xs: "(max-width : 369px)";
