<html>
  <head {% block head_lang %}{% endblock %}>
    {% block admin_header %}{% endblock %}

    <title>
      {% block sitetitle %}Website{% endblock %}
      -
      {% block title %}Welkom{% endblock %}
    </title>

    {% include '/framework/header_css.html.twig' %}
    {% include '/framework/header_scripts.html.twig' %}
  </head>

  <body>
    <section class="topbar">
      <div class="container">
        <div class="left">
          <strong>Activate us now!</strong>
        </div>
        <div class="right">
          <ul>
            <li>
              <i class="fa fa-map-marker"></i>
              Simon Vestdijkwei 14, 8914 AX Leeuwarden</li>
            <li>
              <i class="fa fa-phone"></i>
              +31 (0)58 289 68 27</li>
            <li>
              <i class="fa fa-envelope-o"></i>
              info@beyonit.nl</li>
          </ul>
        </div>
      </div>
    </section>

    {% include '/framework/nav.html.twig' %}

    {{pageblocks(Page, app.request.locale, '')}}

    {% include '/framework/footer.html.twig' with {
      Settings : Settings
    } %}

    {% include '/framework/footer_scripts.html.twig' %}

    {% block admin_footer %}{% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
</html>
