// Main colors
$color-primary: #11a2f4;
$color-secondary: #666;
$color-tertiary: #444;

// Supportive colors
$color-dark: #000;
$color-dark2: #222;
$color-light: #fff;
$color-gray: #f4f4f4;
$color-gray2: #eee;
$color-gray3: #666;
$color-gray4: #ced4da;

// Additional colors
$color-orange: #ed9a02;
$color-green: #2cb338;
$color-yellow: #ced724;
$color-armygreen: #a0bab8;
$color-red: #d52626;
$color-blue: #1e88e5;

// Shadows
$shadow: 0 1px 3px rgba(0,0,0,0.1);
$shadow2: 0 10px 30px rgba(0,0,0,0.1);
$shadow3: 0 10px 30px rgba(0,0,0,0.2);
$shadow4: 0 1px 3px rgba(0,0,0,0.25);
$shadow5: 0 -1px 3px rgba(0,0,0,0.1);
