@import 'breaks';
@import 'colors';
@import 'colors_custom';

body {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  padding-top: 90px;
  overflow-x: hidden;
  @media #{$break-md} {
    padding-top: 60px;
  }
  @media #{$break-lg-up} {
    &.has-topbar {
      padding-top: 140px;

      &.sticky {
        padding-top: 140px;
      }

      &.sticky-topbar {
        padding-top: 140px;
      }
    }
  }

  &.desktop-bottombar {
    padding-bottom: 60px;
  }

  &.show-webshop-popup-cart {
    overflow: hidden;
    pointer-events: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
}

.lcp {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &.lcp-bg {
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    &.lq {
      position: absolute;
      top: 0;
      left: 0;
    }

    &.hq {
      transition: opacity 0.2s ease 0s;
      opacity: 0;
    }
  }
}

.hero {
  background: $color-gray;
  padding: 0;
  height: 700px;
  position: relative;
  @media #{$break-xl} {
    height: 650px;
  }
  @media #{$break-lg} {
    height: 600px;
  }
  @media #{$break-md} {
    height: 550px;
  }
  @media #{$break-sm} {
    height: 500px;
  }

  &.legacy {
    height: auto;
    position: relative;
    @media #{$break-md-up} {
      .content-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
      }
    }

    img {
      width: 100%;
    }
  }

  &.hero-slider {
    position: relative;
    @media #{$break-md} {
      height: auto;
    }

    .slick-dots {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);

      li {
        @media #{$break-md-up} {
          &.slick-active {
            button {
              background: transparentize($color-light, 1);
            }
          }

          button {
            border-color: $color-light;
            background: $color-light;
          }
        }

        &:only-child {
          display: none;
        }
      }
    }

    .slide {
      position: relative;
      height: 700px;
      display: flex;
      @media #{$break-xl} {
        height: 650px;
      }
      @media #{$break-lg} {
        height: 600px;
      }
      @media #{$break-md} {
        height: auto;
        display: block;
      }

      .image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        @media #{$break-md-up} {
          height: 700px;
        }
        @media #{$break-md} {
          background: none !important;
          position: static;
        }

        img {
          @media #{$break-md-up} {
            display: none;
          }
        }
      }

      .container {
        position: relative;
        z-index: 10;
        @media #{$break-md-up} {
          color: $color-light;
        }

        .content-wrapper {
          padding-top: 30px;
          padding-bottom: 72px;

          .slide-content {
            @media #{$break-md} {
              margin: 0 0 1rem;
            }
          }
        }
      }
    }
    @media #{$break-md-up} {
      .content-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
      }
    }

    .vtable {
      display: table;
      width: 100%;
      height: 100%;

      .vcell {
        display: table-cell;
        vertical-align: bottom;

        .titles {
          padding: 60px 0;
          @media #{$break-md} {
            padding: 30px 0 60px;
            text-align: center;
          }
        }
      }
    }
  }

  .slider {
    height: 100%;

    .slide {
      height: 100%;
      position: relative;

      .lcp {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .container {
        height: 100%;
        position: relative;
        z-index: 2;

        .vtable {
          display: table;
          width: 100%;
          height: 100%;

          .vcell {
            display: table-cell;
            vertical-align: middle;

            .titles {
              text-align: center;
            }
          }
        }
      }
    }
  }

  &.video {
    .videowrapper {
      height: 100%;
      width: 100%;
      position: relative;

      .videocontainer {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;

        .imagecontainer {
          position: absolute;
          z-index: 5;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }

        video {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          z-index: 10;
          object-fit: cover;
        }
      }

      .titles {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background: transparentize($color-dark, 0.5);
        color: $color-light;

        .vwrapper {
          height: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          .valign {
            .container {
              .text {
                p {
                  margin: 0;
                }
              }

              .btns {
                margin: 15px 0 0;
              }
            }
          }
        }
      }
    }
  }
}

section {
  padding: 3rem 0;

  .container {
    section {
      padding: 0;

      .container {
        padding: 0;
      }
    }
  }

  &.full-width {
    > .container {
      max-width: 100%;
      padding: 0;
    }

    section {
      .container {
        max-width: 1140px;
        padding: 0 15px;
        @media #{$break-xl} {
          max-width: 960px;
        }
        @media #{$break-lg} {
          max-width: 720px;
        }
        @media #{$break-md} {
          max-width: 540px;
        }
      }
    }

    .occasions_bundle {
      &.occasion-overview {
        padding: 30px 0;

        .lazy-loading-container {
          text-align: center;
          font-size: 20px;
          font-weight: 400;
          padding: 0 0 25px;

          .loading-wrapper {
            i.fas.fa-sync-alt {
              animation: rotate 1.5s;
              animation-timing-function: linear;
              animation-iteration-count: infinite;
              margin: 0 10px 0 0;
            }
          }
        }
      }

      &.v2 {
        .container {
          max-width: 1140px;
          padding: 0 15px;
          @media #{$break-xl} {
            max-width: 960px;
          }
          @media #{$break-lg} {
            max-width: 720px;
          }
          @media #{$break-md} {
            max-width: 540px;
          }
        }
      }
    }

    .blog {
      &.v3 {
        margin: 0 auto;

        &.blog-overview {
          padding: 30px 0;
          text-align: center;

          .item {
            text-align: left;
          }

          .btn-bar {
            margin: 15px 0 0;
          }
        }

        .container {
          margin: 0 auto;
          max-width: 1140px;
          padding: 0 15px;
          position: relative;
          @media #{$break-xl} {
            max-width: 960px;
          }
          @media #{$break-lg} {
            max-width: 720px;
          }
          @media #{$break-md} {
            max-width: 540px;
          }
        }
      }
    }
  }

  &.background-gray,
  &.background-grey {
    background: $color-gray;
  }

  &.background-dark {
    background: $color-dark;
  }

  &.background-light {
    background: $color-light;
  }

  &.background-primary {
    background: $color-primary;
  }

  &.align-center,
  &.align-middle {
    .row {
      align-items: center;
    }
  }

  &.nopadding {
    padding: 0;
  }

  &.notoppadding {
    padding-top: 0;
  }

  &.nobottompadding {
    padding-bottom: 0;
  }

  .introblock {
    text-align: center;
    margin-bottom: 2rem;

    .introtitle {
      font-size: 1.5rem;
      font-weight: 500;
      @media #{$break-md} {
        font-size: 1.25rem;
      }
    }

    .introtext {
      margin: 0.5rem 0 0;
    }
  }

  &.trigger-section {
    background: $color-dark;
    color: $color-light;
    position: relative;
    @media #{$break-md} {
      padding: 0;
    }

    .container {
      position: relative;
      z-index: 2;
    }

    .trigger-section-content {
      padding: 6rem 0;
      @media #{$break-md} {
        padding: 2rem 0;
      }

      h1,
      h2,
      h3,
      p {
        color: $color-light;
      }

      .section-button,
      .section-content,
      .section-title {
        opacity: 0;
        transform: translateY(50px);
        transition: 1s;

        .btn {
          color: $color-light;
          border-color: $color-light;

          &:hover {
            border-color: $color-primary;
          }

          i {
            color: $color-light;
          }
        }
      }

      .section-content {
        transition-delay: 0.1s;
      }

      .section-button {
        transition-delay: 0.2s;
      }
    }

    .col-12:nth-child(1) {
      .trigger-section-content {
        padding-right: 6em;
        @media #{$break-md} {
          padding: 2rem 0;
        }
      }
    }

    .col-12:nth-child(2) {
      .trigger-section-content {
        padding-left: 6em;
        @media #{$break-md} {
          padding: 2rem 0;
        }
      }
    }

    .trigger-section-background {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      @media #{$break-md} {
        position: static;
      }

      .row {
        @media #{$break-md-up} {
          height: 100%;
        }
      }

      .col-12 {
        overflow: hidden;
      }

      .col-12:nth-child(1) {
        @media #{$break-md-up} {
          .trigger-section-image {
            &:before {
              background-image: linear-gradient(to left, $color-dark, transparentize($color-dark, 1));
              left: 25%;
              right: -1px;
            }
          }
        }
      }

      .trigger-section-image {
        @media #{$break-md-up} {
          &:before {
            content: "";
            position: absolute;
            left: -1px;
            top: 0;
            bottom: 0;
            right: 25%;
            background-image: linear-gradient(to right, $color-dark, transparentize($color-dark, 1));
            z-index: 5;
          }
        }
      }

      .section-image {
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        bottom: 0;
        transition: opacity 1s;
        @media #{$break-md-up} {
          opacity: 0.25;
        }
        @media #{$break-md} {
          position: static;
        }

        img {
          max-width: none;
          min-width: 100%;
          @media #{$break-md} {
            max-width: 100%;
          }
        }
      }
    }

    .opacity {
      .section-image {
        opacity: 1;
      }
    }

    .visible {
      .trigger-section-content {
        .section-button,
        .section-content,
        .section-title {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  &.responsive-table {
    .block {
      @media #{$break-lg} {
        overflow-x: auto;
      }
    }

    table {
      border-top: 1px solid $color-light;
      border-left: 1px solid $color-light;
      @media #{$break-lg} {
        margin-left: 247px;
      }
      @media #{$break-md} {
        margin-left: 147px;
      }

      tr {
        td,
        th {
          padding: 1rem 1.5rem;
          border: 0;
          border-bottom: 1px solid $color-light;
          border-right: 1px solid $color-light;
          @media #{$break-lg} {
            padding: 0.25rem 0.75rem;
            font-size: 12px;
            height: 45px;
          }

          h3 {
            margin: 0;
            font-size: 20px;
            color: $color-light;
            @media #{$break-lg} {
              font-size: 13px;
              font-weight: bold;
            }
          }
        }

        th {
          background: $color-gray;
          @media #{$break-lg} {
            position: absolute;
            width: 250px;
            z-index: 5;
            overflow: hidden;
            left: 15px;
            height: 45px;
            text-align: left !important;
            display: flex;
            align-items: center;
            line-height: 14px;
            margin: 1px 0 0;
            border: 0;
            border-bottom: 1px solid $color-light;
            border-right: 1px solid $color-light;
          }
          @media #{$break-md} {
            width: 150px;
          }
        }

        td {
          background: transparentize($color-primary, 0.95);
          @media #{$break-md} {
            white-space: nowrap;
          }

          &:nth-child(1) {
            background: transparentize($color-primary, 0.90);
          }

          &:nth-child(2) {
            background: transparentize($color-primary, 0.85);
          }

          &:nth-child(3) {
            background: transparentize($color-primary, 0.80);
          }

          &:nth-child(4) {
            background: transparentize($color-primary, 0.75);
          }

          &:nth-child(5) {
            background: transparentize($color-primary, 0.70);
          }

          &:nth-child(6) {
            background: transparentize($color-primary, 0.65);
          }

          &:nth-child(7) {
            background: transparentize($color-primary, 0.60);
          }

          &:nth-child(8) {
            background: transparentize($color-primary, 0.55);
          }
        }

        &:first-child,
        &:last-child {
          td {
            &:nth-child(1) {
              background: transparentize($color-primary, 0.50);
            }

            &:nth-child(2) {
              background: transparentize($color-primary, 0.45);
            }

            &:nth-child(3) {
              background: transparentize($color-primary, 0.40);
            }

            &:nth-child(4) {
              background: transparentize($color-primary, 0.35);
            }

            &:nth-child(5) {
              background: transparentize($color-primary, 0.30);
            }

            &:nth-child(6) {
              background: transparentize($color-primary, 0.25);
            }

            &:nth-child(7) {
              background: transparentize($color-primary, 0.20);
            }

            &:nth-child(8) {
              background: transparentize($color-primary, 0.15);
            }
          }

          th {
            background: darken($color-gray,5);

            h3 {
              color: $color-dark;
            }
          }
        }

        &:first-child {
          th {
            margin: 0;
          }
        }
      }
    }
  }
}

.topbar {
  background: $color-gray;
  padding: 0;
  height: 50px;
  line-height: 50px;
  position: absolute;
  z-index: 40;
  top: 0;
  left: 0;
  right: 0;
  @media #{$break-lg} {
    position: static;
    height: auto;
    line-height: normal;
    padding: 30px 0;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .left,
  .right {
    @media #{$break-lg} {
      float: none;
      text-align: center;
      width: 100%;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    float: right;
    @media #{$break-lg} {
      float: none;
    }

    li {
      float: left;
      list-style: none;
      padding: 0;
      margin: 0 0 0 15px;
      font-size: 0.85rem;
      @media #{$break-lg} {
        float: none;
        display: block;
        margin: 0;
        line-height: 2rem;
      }

      .fa,
      .fab,
      .far {
        vertical-align: middle;
      }
    }
  }
}

.subnavbar {
  padding: 0;
  background: $color-gray;
  @media #{$break-xl} {
    display: none;
  }

  ul {
    display: block;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      a {
        display: block;
        padding: 20px 15px;
        color: $color-dark;
        font-weight: bold;

        &.active,
        &:hover {
          color: $color-primary;
        }
      }

      &:first-child {
        a {
          padding-left: 0;
        }
      }
    }
  }
}

.navbar {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @media #{$break-md} {
    height: 60px;
  }

  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    z-index: 10;
    background: $color-light;
    box-shadow: $shadow;
    @media #{$break-md} {
      height: 60px;
    }
  }
  @media #{$break-lg-up} {
    .has-topbar & {
      background: $color-light;
      box-shadow: $shadow;
      position: absolute;
      top: 50px;

      &:before {
        content: none;
      }
    }

    .sticky-topbar & {
      position: fixed;
      top: 0;
    }
  }

  .container {
    @media #{$break-sm} {
      padding: 0;
    }
  }

  .logo {
    position: relative;
    z-index: 20;

    a {
      img {
        height: 50px;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          max-width: none;
        }
        @media #{$break-md} {
          height: 30px;
        }
      }
    }
  }

  .nav-container {
    display: flex;
    margin: 0 -10px;
    line-height: 21px;

    .nav-main {
      position: relative;
      z-index: 1001;
      @media #{$break-xl} {
        position: fixed;
        top: 90px;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color-gray;
        width: 280px;
        z-index: 20;
        transform: translateX(-100%);
        overflow-y: auto;
        overflow-x: hidden;
        transition: 0.5s;
        padding: 10px 0;

        .has-topbar & {
          top: 0;
        }

        .show-nav & {
          transform: translateX(0);
          box-shadow: $shadow;
        }

        ul.custom-nav,
        ul.nav {
          padding: 10px 0;
          @media #{$break-xl} {
            padding: 0;
          }

          li {
            position: relative;

            a {
              height: 40px;
              line-height: 40px;
              padding: 0 15px;
            }

            .togglesub {
              position: absolute;
              top: 0;
              right: 0;
              height: 40px;
              line-height: 40px;
              width: 40px;
              text-align: center;
              cursor: pointer;
              transition: 0.3s;
              @media #{$break-xl-up} {
                height: 60px;
                line-height: 60px;
              }
            }

            ul {
              margin: 0 0 5px;
              padding: 0 15px;
              display: none;

              li {
                list-style: none;
                font-size: 0.85rem;

                a {
                  line-height: normal;
                  height: auto;
                  padding: 5px 0;
                  color: transparentize($color-dark, 0.5);
                  @media #{$break-xl} {
                    font-size: 0.75rem;
                  }

                  &:hover {
                    color: $color-dark;
                  }
                }
              }
            }

            &.open {
              .togglesub {
                transform: rotate(180deg);
              }

              ul {
                display: block;
              }
            }
          }
        }
      }
      @media #{$break-lg} {
        top: 90px;

        .has-topbar & {
          z-index: 5;
          top: 90px;
        }
      }
      @media #{$break-md} {
        top: 60px;

        .has-topbar & {
          top: 60px;
        }
      }
    }

    .nav-webshop {
      position: relative;
      z-index: 25;

      .webshop-cart-icon {
        font-size: 1rem;
        margin: 0;
        color: $color-dark;
        @media #{$break-xl-up} {
          height: 60px;
          line-height: 60px;
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            height: 30px;
            line-height: 30px;
          }
        }
        @media #{$break-xl} {
          margin: 0 15px;
        }
        @media #{$break-md} {
          height: 40px;
          line-height: 40px;
        }

        &:hover {
          i.fa.fa-shopping-cart {
            &:before {
              color: $color-primary;
              // background: $color-primary;
            }
          }
        }
        // &.cart-filled {
        //   i.fa.fa-shopping-cart {
        //     &:before {
        //       background: $color-dark;
        //       -webkit-mask-image: url("../../bundles/qinoxwebshop/img/icon_ecommerce_filled.svg");
        //       mask-image: url("../../bundles/qinoxwebshop/img/icon_ecommerce.svg");
        //       @media #{$break-md} {
        //         -webkit-mask-image: url("../../bundles/qinoxwebshop/img/icon_ecommerce_filled_mobile.svg");
        //         mask-image: url("../../bundles/qinoxwebshop/img/icon_ecommerce_filled_mobile.svg");
        //       }
        //     }
        //   }
        //
        //   &:hover {
        //     i.fa.fa-shopping-cart {
        //       &:before {
        //         background: $color-primary;
        //       }
        //     }
        //   }
        // }
        //
        // i.fa.fa-shopping-cart {
        //   &:before {
        //     content: "";
        //     width: 18px;
        //     height: 18px;
        //     background: $color-dark;
        //     -webkit-mask-image: url("../../bundles/qinoxwebshop/img/icon_ecommerce.svg");
        //     mask-image: url("../../bundles/qinoxwebshop/img/icon_ecommerce.svg");
        //     @media #{$break-md} {
        //       -webkit-mask-image: url("../../bundles/qinoxwebshop/img/icon_ecommerce_mobile.svg");
        //       mask-image: url("../../bundles/qinoxwebshop/img/icon_ecommerce_mobile.svg");
        //     }
        //     display: inline-block;
        //     vertical-align: middle;
        //     margin-top: -2px;
        //   }
        // }
        .cart-count-badge,
        .cart-loader {
          right: auto !important;
          left: calc(100% - 7px);
          top: -9px !important;
          font-size: 10px !important;
          border: 0 !important;
          width: auto;
          background: $color-primary;
          color: $color-light;
          min-width: 15px;
          height: 15px;
          line-height: 15px;
          text-align: center;
          border-radius: 15px;
          padding: 0 4px;
        }

        .cart-loader {
          background: $color-gray;
          color: $color-dark;
          width: 15px;
          padding: 0;
        }
      }

      .mini_cart {
        right: 0;
        top: auto;
        bottom: 0;
        transform: translateY(100%);
        background: $color-light;
        font-size: 0.85rem;
        line-height: normal;
        box-shadow: $shadow4;
        @media #{$break-sm} {
          position: fixed;
          transform: none;
          top: 50px;
          left: 15px;
          right: 15px;
          width: auto;
          bottom: auto;
          max-height: calc(100% - 75px);
          overflow-y: auto;
        }

        .table-wrapper {
          overflow: auto;
          max-height: 280px;
          width: calc(100% + 40px);
          margin: 0 -20px;
          padding: 0 20px;
        }

        a.cart-btn {
          color: $color-gray3 !important;
          height: 40px !important;
          line-height: 38px !important;
          padding: 0 30px !important;

          &:hover {
            color: $color-dark !important;
          }

          &.primary {
            background: $color-primary !important;
            color: $color-light !important;
            border-radius: 3px !important;
            height: 40px !important;
            line-height: 38px !important;

            i {
              font-size: 0.75rem !important;
              float: none !important;
              margin: 0 !important;
            }

            &:hover {
              color: $color-light !important;
              background: lighten($color-primary, 5) !important;
            }
          }
        }

        table {
          tbody,
          tfoot,
          thead {
            td,
            th {
              padding: 0.75rem;

              &.cart-price {
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }

  ul.custom-nav,
  ul.nav {
    margin: 0;
    padding: 0;
    display: inline-flex;
    @media #{$break-xl} {
      display: block;
    }

    li {
      margin: 0 10px;
      position: relative;
      cursor: default;
      list-style: none;
      font-size: 0;
      @media #{$break-xl} {
        width: 100%;
        margin: 0;
      }

      i.fa.fa-angle-down {
        font-size: 0.75rem;
      }

      span.togglesub {
        display: inline-block;
        margin: 0 0 0 5px;

        &:before {
          content: "\f107";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 0.75rem;
        }
      }

      ul {
        li {
          span.togglesub {
            display: none;
          }

          ul {
            display: none;
          }
        }
      }

      &:hover {
        ul {
          @media #{$break-xl-up} {
            opacity: 1;
            pointer-events: all;
            transition: 0.3s;
            transform: translateX(-50%) translateY(100%);
          }
        }
      }

      a {
        font-size: 1rem;
        cursor: pointer;
        color: $color-dark;
        display: block;
        @media #{$break-xl-up} {
          height: 60px;
          line-height: 60px;
          display: inline-block;
        }
        @media #{$break-xl} {
          padding: 5px 15px;
        }

        &:hover {
          color: $color-primary;
        }

        span {}
      }

      &.active {
        > a {
          color: $color-primary;
        }
      }

      ul {
        @media #{$break-xl-up} {
          position: absolute;
          background: $color-dark;
          color: $color-light;
          box-shadow: $shadow;
          padding: 0;
          list-style: none;
          font-size: 1rem;
          padding: 15px 0;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%) translateY(calc(100% - 5px));
          border-radius: 5px;
          opacity: 0;
          pointer-events: none;

          &:before {
            content: "";
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(0, 0, 0, 0);
            border-bottom-color: $color-dark;
            border-width: 5px;
            margin-left: -5px;
          }

          li {
            a {
              color: transparentize($color-light,0.25);
              padding: 5px 15px;
              height: auto;
              line-height: normal;
              display: block;
              white-space: nowrap;

              &:hover {
                color: $color-light;
              }
            }
          }
        }
      }
    }
  }

  .nav-side-logo {
    position: relative;
    z-index: 20;

    img {
      max-height: 60px;
      @media #{$break-md} {
        max-height: 40px;
      }
    }
  }

  .nav-mobile {
    display: flex;
    position: relative;
    z-index: 20;

    a {
      padding: 0 10px;
      color: $color-dark;
      height: 60px;
      line-height: 60px;
      @media #{$break-md} {
        height: 40px;
        line-height: 40px;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }

  .nav-toggle {
    position: relative;
    padding: 0 10px;
    cursor: pointer;

    .bars {
      width: 20px;
      position: relative;
      margin: 22px 0 17px;
      height: 16px;
      backface-visibility: hidden;
      @media #{$break-md} {
        margin: 12px 0 8px;
      }

      &:hover {
        .bar {
          span {
            background: $color-primary;
          }
        }
      }

      .bar {
        width: 20px;
        height: 2px;
        border-radius: 2px;
        float: left;
        position: absolute;
        transition: 0.3s 0.3s;
        transform-origin: center;
        backface-visibility: hidden;

        &:nth-child(1) {
          top: 1px;
          left: 0;
        }

        &:nth-child(2) {
          top: 7px;
          left: 0;
        }

        &:nth-child(3) {
          top: 13px;
          left: 0;
        }

        .show-nav & {
          transition: 0.3s 0s;

          &:nth-child(1) {
            top: 7px;

            span {
              transform: rotate(45deg);
            }
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            top: 7px;

            span {
              transform: rotate(-45deg);
            }
          }
        }

        span {
          width: 20px;
          height: 2px;
          background: $color-dark;
          float: left;
          transform-origin: center;
          transition: all 0.3s 0s, background 0s;

          .show-nav & {
            transition: 0.3s 0.3s, background 0s;
          }
        }
      }

      &:active {
        .bar {
          &:nth-child(1) {
            transform: translateY(0);
          }

          &:nth-child(3) {
            transform: translateY(0);
          }
        }
      }
    }
  }
}
