{% for pagedata in pages %}
	<li class="page-entry" id="page_{{pagedata.Page.id}}">
		{{pagedata.Page.label}}
		{% if pagedata.children %}
            <ol>
                {% include "App\CmsBundle:widgets:sitemap_page.html.twig" with {'pages': pagedata.children} %}
            </ol>
        {% endif %}
	</li>
{% endfor %}