<header>
	<div class="navbar-fixed">
		<nav>
		<div class="container">
			<div class="nav-wrapper">
				<a href="{{path('homepage')}}" class="brand-logo">
					{#<img src="{{asset('images/header-logo@2x.png')}}" />#}
					Belle
				</a>
				<a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>

				<ul id="desktop-nav" class="right hide-on-med-and-down">
					{{ cms_navigation('', '', 0) }}
				</ul>

				<ul id="mobile-nav" class="side-nav">
					{{ cms_navigation('', '', 0) }}
				</ul>
			</div>
		</div>
		</nav>
	</div>
</header>