{% trans_default_domain 'forms' %}
{% extends [':forms_elements:row.html.twig', '@TrinityForms/elements/row.html.twig'] %}

{% block field %}
	<h2 {% if edit is defined %}contenteditable="true" style="margin-top:40px;"{% endif %} data-type="title" style="outline:none;">{{(Question.getTitle|raw) | default(('Titel'|trans))}}</h2>

	{# {% if edit is defined %}<div class="block-id">h2 #{{Question.id}}</div>{% endif %} #}
	{% if edit is defined %}
		<div class="info">
			<span class="qid">({{Question.getTypeLabel}}, ID: {{Question.id}})</span>
		</div>
	{% endif %}
{% endblock %}
