{% extends '@Cms/base.html.twig' %}
{% trans_default_domain 'cms' %}

{% block body %}
	<form method="post">
		<div class="card">
			<div class="card-content text-center">
				<span class="card-title"><h6>{{ '2FA inschakelen' | trans }}</h6></span>

				{% if invalidCode %}
					<div class="alert alert-danger" role="alert">
						De ingevoerde code is onjuist.
					</div>
				{% endif %}

				<p>Scan de onderstaande QR-code met een authenticator app om 2FA te activeren voor dit account.</p>

				<img src="{{base64}}" style="width: inherit;" alt="2fa-qr" />

				<div class="mb-3">
					<label for="2fa-code" class="form-label">Vul de 2FA-code hieronder in om de activatie te bevestigen.</label>
					<input type="text" name="2fa-code" class="form-control" id="2fa-code" style="text-align: center;width: 200px;margin: 0 auto; font-size: 24px;" placeholder="- - - - - - - -">
				</div>

				<button type="submit" class="btn">Bevestigen</button>

			</div>
		</div>
	</form>
{% endblock %}
