$color-primary: #8dc63f;
$color-secondary: #00aeef;
$color-tertiary: #3fc6be;
$color-dark: #000;
$color-gray2: #dddddd;
$color-gray3: #aaaaaa;
$color-red: #f61938;

$shadow: 0 1px 3px rgba(0,0,0,0.1);
$shadow2: 0 10px 24px rgba(0,0,0,0.1);
