{% extends '@Cms/interface_light.html.twig' %}
{% trans_default_domain 'login' %}

{% block body %}
    <div class="login-page">
      <div class="logobox">
        <div class="logobox-content">
          <span class="logo-icon"><img src="{{asset('bundles/cms/images/logo_icon.svg')}}"/></span>
          <span class="logo-name">
            Easify
            <span class="logo-tagline">A Symfony CMS</span>
          </span>
        </div>
      </div>

      <div class="bg-wrapper">
      </div>

      <div class="vtable">
        <div class="vcell">
          <div class="window">
            <div id="login-form">
              {% if invalidCode %}
                <div class="alert alert-danger" role="alert">
                  De ingevoerde code is onjuist.
                </div>
              {% endif %}

              <div class="row mb-3">
                <h3>{{'Scan de QR code'|trans({})|raw}}</h3>
              </div>
            </div>

            <form method="post">
              Scan de onderstaande QR-code met een authenticator app om 2FA te activeren voor dit account.

              <div class="qr-img text-center d-block">
                <img src="{{base64}}" alt="2fa-qr" />
              </div>

              <div class="mb-3">
                <label for="2fa-code" class="form-label">Vul de 2FA-code hieronder in om de activatie te bevestigen.</label>
                <input type="text" name="2fa-code" class="form-control text-center" id="2fa-code" placeholder="2FA code">
              </div>

              <button type="submit" class="btn btn-lg w-100">Bevestigen</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
