<!DOCTYPE html>
<html>
	<head>
		<title>{{ 'Legacy CMS' | trans }}</title>
		<style type="text/css">
            html, body{
                line-height: 24px;
                font-family: arial, sans-serif;
                margin: 0;
                padding: 0;
            }

            h1{
                margin: 0;
                padding: 0 0 5px 0;
                font-size: 28px;
            }

            a{
                color: #2BA3A2;
            }

            p{
                margin: 20px 0 0 0;
            }

            .content{
                max-width: 600px;
                background: white;
                margin: 0 auto 0 auto;
            }

            .content .header{
                background-color: #5d5d5d;
                height: 100px;
                text-align: center;
            }

            .content .title{
                padding: 5px 0;
                text-align: center;
                background: #2BA3A2;
                font-weight: bold;
                color: white;
                font-size: 18px;
                text-transform: uppercase;
            }

            .content .message{
                padding: 30px;
            }
		</style>
	</head>
	<body>
        <div class="content">
            <div class="header">
                {# <img style="height: 100px; float: left;" src="{{ absolute_url( asset('bundles/cms/images/login-pattern.png') ) }}" /> #}
                <img style="height: 60px;margin-top: 20px;" src="{{ absolute_url( asset('bundles/cms/images/logo.png') ) }}" />
            </div>
            {% block body %}{% endblock body %}
        </div>
	</body>
</html>