$main-background: #222;
$top-nav-background: #004786;
$left-nav-background: #252525;
$primary-color: white;
$accent-color: #64b3ff;
$btn-color: #3e7ab3;
$transision-speec: .1s;

body.dark {

	transition: color $transision-speec, background $transision-speec;
	color: $primary-color;
	background: $main-background;

	a{
		transition: color $transision-speec;
		color: $accent-color;
	}

	nav{

		transition: box-shadow $transision-speec, background $transision-speec;
		background: $top-nav-background;
	    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);

	    &.tabbar{
	    	background-color: #2d2d2d;
	    	border-color: transparent;
	    }
	}

	.breadcrumbs{
		a.breadcrumb{
			transition: color $transision-speec;
			color: $accent-color;

			&:last-child{
				transition: color $transision-speec;
				color: $accent-color;
			}
		}
	}

	#slide-out{
		transition: box-shadow $transision-speec, background $transision-speec;
		background: $left-nav-background;
	    box-shadow: 2px 3px 11px rgba(0, 0, 0, 0.24);
	}

	.btn-bar{
		transition: box-shadow $transision-speec, background $transision-speec;
		background-color: $left-nav-background;
		box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
	}

	.btn, .btn-large{
		transition: background $transision-speec;
		background: $btn-color;
		color: white;
	}

	.card {
		transition: background $transision-speec;
	    background-color: #3c3c3c;
	}

	.tabs{
		&.tabs-transparent{
			.tab{
				a.active{
					transition: color $transision-speec;
					color: $accent-color;
				}
			}

			.indicator{
				transition: background $transision-speec;
				background-color: $accent-color;
			}
		}
	}

	.page-content{
		transition: background $transision-speec;
	    background: #3c3c3c;

	    ol.sortable{
	    	.page-entry{
		    	.page-entry-content{
		    		background: #2d2d2d;
		    		border-color: transparent;
	    			transition: color $transision-speec, background $transision-speec, border-color $transision-speec;
		    		color: #fff;

		    		.actions{
		    			a{
		    				transition: color $transision-speec;
		    				color: #fff;
		    			}
		    		}
		    	}
	    	}

	    	.placeholder{
	    		border-color: black;
	    	}
	    }
	}

	.form-editor{
		.sortable-placeholder{
			border-color: black;
		}
	}

	.settings-image{
		.dropzones{
			transition: border-color $transision-speec, background $transision-speec;
			border-color: $main-background;
			background-color: $main-background;
		}
	}

	#filter-loader{
		background-color: rgba(0,0,0,0.8);
	}

	table.striped{
		>tbody{
			>tr:nth-child(odd){
				background-color: #2f2f2f;
			}
			table.highlight{
				>tbody{
					>tr:hover{
						background-color: #2f2f2f;
					}
				}
			}
		}
	}

	table.striped{
		>tbody{
			>tr{
				&:nth-child(odd){
					background-color: #525252;
				}
			}
		}
	}

	table.highlight{
		>tbody{
			>tr{
				&:hover{
					background-color: #525252;
				}
			}
		}
	}

	table.bordered{
		>thead{
			border-color: #0a0a0a;
			>tr{
				border-color: #0a0a0a;
			}
		}
		>tbody{
			>tr{
				border-color: #0a0a0a;
			}
		}
	}

	.modal{
		background-color: $main-background;
		.modal-footer{
			background-color: $main-background;
		}
	}

	.search-results{
		div{
			border-color: #585858;
			&:hover{
				background: #2f2f2f;
			}
		}
	}

	.dropdown-content{
		background-color: #3c3c3c;
		li{
			>a{
				color: #d8d8d8;
			}
			>span{
				color: #d8d8d8;
			}
		}
	}

	.sl-window{
		background-color: #3a3a3a;
	}

	.sl-results{
		a{
			border-color: #1f1f1f;
		}
		a.default{
		    // border-color: #111111;
		    background-color: #2b2b2b;
		}
	}
}