/* LOADER */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  display: none;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #58bbee;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


/* RESET */
.body-blue nav > ul,.body-blue nav li,
.body-pink nav > ul,.body-pink nav li,
.body-green nav > ul,.body-green nav li,
.body-purple nav > ul,.body-green nav li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.doc-wrapper {
    min-height: calc(100% - 179px);
}

.cards-section {
    min-height: calc(100% - 270px);
}

/* TEMPLATE OVERRIDE */

.body-blue nav > ul li > a,
.body-pink nav > ul li > a,
.body-green nav > ul li > a,
.body-purple nav > ul li > a {
	margin-bottom: 5px;
	display: block;
	padding: 5px 15px;
	color: #616670;
}

.body-blue nav > ul li > a:hover, .body-blue nav > ul li > a:focus,
.body-pink nav > ul li > a:hover, .body-pink nav > ul li > a:focus,
.body-green nav > ul li > a:hover, .body-green nav > ul li > a:focus,
.body-purple nav > ul li > a:hover, .body-green nav > ul li > a:focus {
	color: #494d55;
	text-decoration: none;
	background: none;
}

.body-blue nav > ul li > a.active,
.body-pink nav > ul li > a.active,
.body-green nav > ul li > a.active,
.body-purple nav > ul li > a.active {
	background: none;
	color: #40babd;
	font-weight: 600;
}

.body-blue nav > ul ul,
.body-pink nav > ul ul,
.body-green nav > ul ul,
.body-purple nav > ul ul {
	list-style: none;
	padding-left: 0;
}

.body-blue nav > ul ul li > a,
.body-pink nav > ul ul li > a,
.body-green nav > ul ul li > a,
.body-purple nav > ul ul li > a {
	margin-bottom: 10px;
	font-size: 12px;
	display: block;
	color: #616670;
	padding: 0;
	padding-left: 34px;
	background: none;
}

.body-blue nav > ul ul li > a:first-child,
.body-pink nav > ul ul li > a:first-child,
.body-green nav > ul ul li > a:first-child,
.body-purple nav > ul ul li > a:first-child {
	padding-top: 5px;
}

.body-blue nav > ul ul li > a:hover,
.body-pink nav > ul ul li > a:hover,
.body-green nav > ul ul li > a:hover,
.body-purple nav > ul ul li > a:hover {
	color: #494d55;
	text-decoration: none;
	background: none;
}

.body-blue nav > ul ul li > a:focus,
.body-pink nav > ul ul li > a:focus,
.body-green nav > ul ul li > a:focus,
.body-purple nav > ul ul li > a:focus {
	background: none;
}

.body-blue nav > ul ul li > a.active,
.body-pink nav > ul ul li > a.active,
.body-green nav > ul ul li > a.active,
.body-purple nav > ul ul li > a.active {
	background: none;
	color: #40babd;
}

/* COLOR SPECIFIC */

.body-blue nav > ul li > a.active {
  color: #58bbee;
  border-color: #58bbee;
}

.body-pink nav > ul li > a.active {
  color: #EA5395;
  border-color: #EA5395;
}

.body-green nav > ul li > a.active {
  color: #75c181;
  border-color: #75c181;
}

.body-purple nav > ul li > a.active {
  color: #8A40A7;
  border-color: #8A40A7;
}

/**/

.body-blue nav > ul ul li > a.active {
	color: #58bbee;
}

.body-pink nav > ul ul li > a.active {
  color: #EA5395;
}

.body-green nav > ul ul li > a.active {
  color: #75c181;
}

.body-purple nav > ul ul li > a.active {
  color: #8A40A7;
}

/**/

.body-blue .lds-ellipsis div{
  background-color: #58bbee;
}

.body-pink .lds-ellipsis div{
  background-color: #EA5395;
}

.body-green .lds-ellipsis div{
  background-color: #75c181;
}

.body-purple .lds-ellipsis div{
  background-color: #8A40A7;
}

/**/

/*.detail .btn-primary,
.detail a.btn-primary{
  background-color: white !important;
  color: #444 !important;
  border-color: white;
}*/

/*.body-blue .btn-primary{
  background-color: #58bbee;
  border-color: #58bbee;
}

.body-pink .btn-primary{
  background-color: #EA5395;
  border-color: #EA5395;
}

.body-green .btn-primary{
  background-color: #75c181;
  border-color: #75c181;
}

.body-purple .btn-primary{
  background-color: #8A40A7;
  border-color: #8A40A7;
}*/

.btn-primary i,
a.btn-primary i{
  margin-right: 5px;
}

.body-blue .btn-primary,
.body-blue a.btn-primary{
  background-color: #58bbee !important;
  border-color: #58bbee;
}

.body-pink .btn-primary,
.body-pink a.btn-primary{
  background-color: #EA5395 !important;
  border-color: #EA5395;
}

.body-green .btn-primary,
.body-green a.btn-primary{
  background-color: #75c181 !important;
  border-color: #75c181;
}

.body-purple .btn-primary,
.body-purple a.btn-primary{
  background-color: #8A40A7 !important;
  border-color: #8A40A7;
}

.detail .btn-primary:hover, .detail a.btn-primary:hover,
.detail .btn-primary:active, .detail a.btn-primary:active{
  /*transform: scale(1.1, 1.1);*/
  /*opacity: 1;*/
  background-color: white !important;
  color: #444 !important;
  border-color: white;
}

/* CONTENT */

#doc-loader h2{
    padding-top: 30px;
	font-size: 26px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d6d6;
}

#doc-loader h2:first-child {
    padding-top: 0;
}

#doc-loader h3{
	font-size: 20px;
    font-weight: bold;
}